* {
    font-family: 'Avenir Black', 'Arial Black', sans-serif;
}


:root {
    --primary: #B3B1D2;
    --secondary: #4B6EA1;
    --tertiary: #9295CA;
}

body,
header {
    color: var(--primary);
    background-color: var(--secondary);
    height: 140px;
    width: auto;
    text-align: start;
    margin: 8px;

}

h1 {
    display: inline-block;
}

nav {
    display: inline;

}

ul,
li {
    list-style-type: none;
    float: right;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-line: underline;
    color: var(--primary);
}
#avatar-img {
height: 200px;
width: 200px;
border-radius: 50%;
margin-left: 100%;
box-shadow: -1em 0 .4em #fff;


}

.hero-banner {
    background-image: url("./assets/blastoff.pdf");
    width: 100%;
    height: 400px;
    margin-left: 0%;
    margin-right: 0%;
}

#h2-hero {
    color: #E5ACDA;
    text-shadow: 1px 1px #fff;
    float: right;
}

#about-me {
    color: #E5ACDA;

}

main {

    background-color: var(--secondary);

}